* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica";
  background: #694695; }

form#addproject {
  background: white;
  width: 700px;
  margin: 0 auto;
  padding: 1em; }
  form#addproject .input-item {
    margin: 1em 0; }
  form#addproject label {
    display: block;
    font-weight: bold;
    line-height: 1.6em; }
  form#addproject input, form#addproject textarea {
    margin: 0.75em 0;
    padding: 0.6em 0.4em;
    width: 100%; }
  form#addproject select {
    min-width: 50%; }
  form#addproject .chosen-container input {
    margin: 0; }
  form#addproject .description {
    color: #777777;
    font-size: 0.9em;
    line-height: 1.4em; }
  form#addproject input[type="submit"] {
    border: none;
    outline: none;
    font-size: 16px;
    background: #32ad36;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  form#addproject #form-status {
    display: none;
    background: #d15559;
    padding: 1em; }
